<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jGitFS/src/org/dstadler/jgitfs/SimpleJGitFS.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.dstadler.jgitfs.SimpleJGitFS"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/opt/poi /opt/git-fs/poi"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jGitFS"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-agentpath:/opt/dynaTrace/dynatrace-5.5.0/agent/lib64/libdtagent.so=name=JGitFS,server=localhost,wait=5&#10;-Xmx128m -Xms20m"/>
</launchConfiguration>
